<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
    <script src='/script/hello.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>